<html>
	<head>
		<title>Questions</title>
		<link rel="stylesheet" href="grid.css">
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="progress.css">

	</head>
	<body>
	<div>
		<header class = row>
			<div class = 'col-2 col-m-2'>
				LOGO
			</div>
			<div class = 'col-2 col-m-2 user-icon'>
				User {{user.id}}
			</div>
		</header>
		<main>
			<section class = 'row' id =  'progress-container'>
				<h1>Progress</h1>
				<!--div class = 'row'>
					<div class = 'col-4 col-m-4'>Overall</div>
					<div class = 'col-8 col-m-8'>
						<div class = 'progress-bar'></div>
					</div>
				</div>
				<div class = 'row'>
					<div class = 'col-4 col-m-4'>Topic 1</div>
					<div class = 'col-8 col-m-8'>
						<div class = 'progress-bar'></div>
					</div>
				</div>
				<div class = 'row'>
					<div class = 'col-4 col-m-4'>Topic 2</div>
					<div class = 'col-8 col-m-8'>
					</div>
				</div>
				<div class = 'row'>
					<div class = 'col-4 col-m-4'>Topic 3</div>
					<div class = 'col-8 col-m-8'>
						<div class = 'progress-bar'></div>
					</div>
				</div-->
			</section>
		</main>
		<footer>Footer</footer>
	</div>
	<script type="text/javascript" src = "progress.js"></script>
	</body>
</html>