{% extends 'courses/main_base.html' %}

{% block content %}
<style type="text/css">
.questions{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	
}

.questions .row{
		background-color: #ffffff;
		padding: 10px;
		margin: 10px;
}


</style>
<section class = 'questions'>
<div class = 'row'>
	<h1 class = 'question-title'>
		Question title
	</h1>
	<p class = 'question-content'>
	I have a question about this topic. My question is as follows. Basically my question is about this...
	</p>
	<span class = 'tag'>Tag 1</span>
	<span class = 'tag'>Tag 2</span>
	<span class = 'asker'>Asker</span>
	<span class = 'asked'>Date</span>
</div>
<div class = 'row'>
	<h1 class = 'question-title'>
		Question title
	</h1>
	<p class = 'question-content'>
	I have a question about this topic. My question is as follows. Basically my question is about this...
	</p>
	<span class = 'tag'>Tag 1</span>
	<span class = 'tag'>Tag 2</span>
	<span class = 'asker'>Asker</span>
	<span class = 'asked'>Date</span>
</div>
<div class = 'row'>
	<h1 class = 'question-title'>
		Question title
	</h1>
	<p class = 'question-content'>
	I have a question about this topic. My question is as follows. Basically my question is about this...
	</p>
	<span class = 'tag'>Tag 1</span>
	<span class = 'tag'>Tag 2</span>
	<span class = 'asker'>Asker</span>
	<span class = 'asked'>Date</span>
</div>
</section>
{% endblock %}