{% extends 'courses/base.html' %}
{% load staticfiles %}

		{% block style2 %}
		<link rel="stylesheet" href="{% static 'css/progress.css' %}">
		{% endblock %}

			{% block content %}
			<section class = 'main-content row' id =  'progress-container'>
				<h3>Progress for {{course.name}}</h3>
				<!-- Javascript rendered elements here -->
			</section>
			{% endblock %}

	{% block script %}
	<script type="text/template" id = 'url'>
		{% url 'progress_api' course_id=course.id%}
	</script>
	<script type="text/javascript" src = "{% static 'scripts/progress.js' %}"></script>
	{% endblock %}
